NodeRedAlexaSemple
[{"id":"8e79bc28.d9b28","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"4cfeecaa.6f4b24","type":"amazon-echo-hub","z":"8e79bc28.d9b28","port":"80","processinput":"2","discovery":true,"x":110,"y":40,"wires":[["e057131.dfac5f"]]},{"id":"e0084f51.111e3","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Kitchen","topic":"kitchen","x":340,"y":620,"wires":[["5b7c0fea.912eb"]]},{"id":"e057131.dfac5f","type":"link out","z":"8e79bc28.d9b28","name":"","links":["15d1b638.6274aa","441e93e8.7fb1fc"],"x":305,"y":60,"wires":[]},{"id":"15d1b638.6274aa","type":"link in","z":"8e79bc28.d9b28","name":"","links":["e057131.dfac5f"],"x":115,"y":520,"wires":[["e0084f51.111e3","af4bc906.285ed8","119a6682.b49aa9","48673161.016c5","c086e81e.6fa058","d85ae3d3.7b22c","8fafc486.599288","7fc9699e.a886f8","1ab0235c.84e1fd","a7076502.103af8","6b440143.5359c","614616ea.a67948","5635811d.2e1bc","556b9833.528768","3c8a7e2a.fb1ac2","80b4cfd3.29859","9291c85d.cbbd68","4653aae5.c5e374"]]},{"id":"5b7c0fea.912eb","type":"function","z":"8e79bc28.d9b28","name":"Light","func":"if (msg.payload === \"on\")\nmsg.payload =\n{\n    \"service\": \"turn_on\",\n    data:\n    {\"rgb_color\": msg.rgb, \"brightness\": msg.bri}\n};\nif (msg.payload === \"off\") msg.payload = {\n    \"service\":\"turn_off\"\n};\nelse if (msg.colormode === \"ct\")\nmsg.payload =\n{\n    \"service\": \"turn_on\",\n    data:\n    {\"rgb_color\": [254,254,254], \"brightness\": msg.bri}\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":780,"wires":[["2fbde05a.87941"]]},{"id":"2fbde05a.87941","type":"api-call-service","z":"8e79bc28.d9b28","name":"Topic Light","server":"fc179bfd.e11258","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"light.{{topic}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":780,"wires":[[]]},{"id":"af4bc906.285ed8","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Livingroom one","topic":"bfad05bf1accef0126v5vt_1","x":360,"y":160,"wires":[["1beb926e.bed0fe"]]},{"id":"9037e89a.bee8c8","type":"api-call-service","z":"8e79bc28.d9b28","name":"Topic Switch","server":"fc179bfd.e11258","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"","entityId":"switch.{{topic}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":280,"wires":[[]]},{"id":"119a6682.b49aa9","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Livingroom Two","topic":"bfad05bf1accef0126v5vt_2","x":360,"y":200,"wires":[["1beb926e.bed0fe"]]},{"id":"1beb926e.bed0fe","type":"function","z":"8e79bc28.d9b28","name":"Switch","func":"if (msg.payload === \"on\") msg.payload = {\"service\":\"turn_on\"}\nif (msg.payload === \"off\") msg.payload = {\"service\":\"turn_off\"}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":280,"wires":[["9037e89a.bee8c8"]]},{"id":"8fafc486.599288","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Corridor","topic":"sonoff_01minizb_4a7dccfe_on_off","x":340,"y":580,"wires":[["5b7c0fea.912eb"]]},{"id":"48673161.016c5","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Storage","topic":"sw_storager_2","x":340,"y":240,"wires":[["1beb926e.bed0fe"]]},{"id":"c086e81e.6fa058","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Toilet","topic":"toilet","x":330,"y":280,"wires":[["1beb926e.bed0fe"]]},{"id":"d85ae3d3.7b22c","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Bedroom","topic":"tasmota_3","x":340,"y":320,"wires":[["1beb926e.bed0fe"]]},{"id":"7fc9699e.a886f8","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Bathroom","topic":"bathromm_2","x":340,"y":360,"wires":[["1beb926e.bed0fe"]]},{"id":"1ab0235c.84e1fd","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Bedroom","topic":"tasmota_3","x":340,"y":400,"wires":[["1beb926e.bed0fe"]]},{"id":"a7076502.103af8","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Windows","topic":"windows_light_2","x":340,"y":660,"wires":[["5b7c0fea.912eb"]]},{"id":"6b440143.5359c","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Bed","topic":"bed","x":330,"y":700,"wires":[["5b7c0fea.912eb"]]},{"id":"614616ea.a67948","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Corner","topic":"corner_level_light_color_on_off","x":330,"y":740,"wires":[["5b7c0fea.912eb"]]},{"id":"5635811d.2e1bc","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Cabinet","topic":"szekreny_level_light_color_on_off","x":340,"y":780,"wires":[["5b7c0fea.912eb"]]},{"id":"556b9833.528768","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Bedroom right","topic":"68744821d8bfc001e420","x":360,"y":820,"wires":[["5b7c0fea.912eb"]]},{"id":"3c8a7e2a.fb1ac2","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Bedroom left","topic":"08450367d8f15b010c06","x":350,"y":860,"wires":[["5b7c0fea.912eb"]]},{"id":"80b4cfd3.29859","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Balcony right","topic":".balcony_right","x":350,"y":900,"wires":[["5b7c0fea.912eb"]]},{"id":"9291c85d.cbbd68","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Balcony left","topic":"terasz_ball","x":350,"y":940,"wires":[["5b7c0fea.912eb"]]},{"id":"4653aae5.c5e374","type":"amazon-echo-device","z":"8e79bc28.d9b28","name":"Balcony couch","topic":"terasz_kanape","x":360,"y":980,"wires":[["5b7c0fea.912eb"]]},{"id":"fc179bfd.e11258","type":"server","name":"Home Assistant","addon":true}]
